@model IEnumerable<Post>
@{

 }

<h2>HomePage!</h2>

<img src="~/content/static/JI6YH3.jpg" width="500"/>
<div> 
    <ul>
        @foreach(var post in Model)
        {
        <li>
            <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                @post.Title
            </a>
        </li>
        }
        
    </ul>
</div>